﻿@model AutoComplete
@using Znode.Engine.WebStore.Agents
@using System.Globalization
@using Znode.Libraries.ECommerce.Utilities;
@{
    string regionName = string.Empty;
    bool isChromeSpecificVoiceSearch = false;
    foreach (var item in PortalAgent.CurrentPortal.Locales)
    {
        int localeid = Convert.ToInt32(Request.Cookies["_WebStoreculture"].Value);
        if (item.LocaleId == localeid)
        {
            CultureInfo culture = new CultureInfo(item.Code);
            regionName = culture.Name;
        }
    }

    bool isEnableVoiceBasedSearch = (bool)PortalAgent.CurrentPortal.PortalFeatureValues.Where(x => x.Key.Contains(HelperUtility.StoreFeature.Enable_Voice_Based_Search.ToString()))?.FirstOrDefault().Value;
}
<div class="search-widget">
    <form class="search-form" id="searchForm" action="/Search" method="GET">
        <div class="left-inner-icon input-group">
            @Html.AutocompleteFor(model => model.Name, model => model.Id, "GetSuggestions", "Search", "Product.prototype.GetSuggestionResult", false, new { htmlAttributes = new { @placeholder = WebStore_Resources.LabelPlaceHolderSearch, @class = "", @Name = "SearchTerm", @id = "searchTextBox", @data_test_selector = "txtSearch",@title = "Quick Search" } })
            <span class="input-group-btn">
                <button type="submit" class="btn btn-search-custom width-auto-btn" id="btnSearchTerm" data-test-selector="btnSearchTerm" title="search"><i class="zf-search"></i><span class="hidden">search</span></button>
            </span>
        </div>
        <div id="typeahead-results" class="ui-autocomplete-home"></div>
    </form>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        Search.prototype.ValidateSearch();
    });

        $("#btnVoiceSearch").on("click", function () {
        if (!$(this).hasClass("active")) {
            $(this).addClass("active");
            VoiceRecognition.prototype.startRecording(@Convert.ToString(isChromeSpecificVoiceSearch).ToLower(), '@regionName', function (convertedText) {
                $("#searchTextBox").val(convertedText);
                $("#searchForm").submit();
            });
        }
        else {
            $(this).removeClass("active"); 
            if (!@Convert.ToString(isChromeSpecificVoiceSearch).ToLower()) {
                VoiceRecognition.prototype.stopRecording();
            }
        }
    });
</script>
