﻿@using Znode.WebStore.Custom.ViewModel
@using System;
@using System.Collections.Generic;
@using Newtonsoft.Json;
@model  DSCustomListViewModel
@{
    var myList = new List<KeyValuePair<string, int>>();
    Layout = null;
    //var attributes = Model?.ConfigurableAttributes?.Where(x => x.IsConfigurable)?.ToList();
    var attributes = Model?.InventoryList?.ToList();
    string strserialize = "";
    string UnAvailableSizeCsv = "";
    string csvstring = "";
}


<div class="col-lg-12 col-xs-12 nopadding">
    <div class="col-lg-1 hidden-xs"></div>
    <div class="col-lg-10 col-xs-12 nopadding gridset-formobile">
        <div class="table-grid-PDP text-center">
            <label>SIZE AVAILABILITY</label>
        </div>
        <div class="table-responsive">
            <table class="table table table-bordered text-center table-grid-PDP">
                @{
                    //decimal inventory = 0;
                    string classNameInventoryGreen = "";
                    UnAvailableSizeCsv = Model?.InventoryList?.Where(x => x.Drewwidth == "ALL")?.Select(x => x.Size)?.FirstOrDefault();
                    var RemoveItem = Model?.InventoryList?.Where(x => x.Drewwidth == "ALL").FirstOrDefault();
                    if (RemoveItem != null)
                    {
                        Model?.InventoryList?.Remove(RemoveItem);
                    }
                    List<string> DistinctColor = Model?.InventoryList?.Select(x => x.Drewwidth).Distinct().ToList();
                    if (DistinctColor != null)
                    {
                        DistinctColor.Insert(0, DistinctColor[0]);
                        int iteration = 0;
                        foreach (string width in DistinctColor)
                        {
                            <tr>
                                <th class="text-center left_width_data">
                                    <span class="hidden">Header</span>
                                    @if (iteration != 0)
                                    {
                                        <span> @width</span>
                                    }
                                </th>
                                @{
                                    var list = Model?.InventoryList?.Where(x => x.Drewwidth == width).ToList();

                                    foreach (var item in list)
                                    {
                                        if (iteration == 0)
                                        {

                                            <th class="text-center top_size_data"><span>@item.Size</span> </th>
                                        }
                                        else
                                        {
                                            classNameInventoryGreen = "";
                                            decimal value = Convert.ToDecimal(Convert.ToString(item.Inventory));
                                            int inventory = Convert.ToInt32(value);
                                            if (inventory > 0)
                                            {
                                                <td class="checkbox_data">
                                                    <i class="glyphicon glyphicon-ok"></i>
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="no_data">
                                                    <i class="glyphicon glyphicon-remove"></i>
                                                </td>
                                                myList.Add(new KeyValuePair<string, int>(item.SKU + '_' + item.Size + '_' + @width, inventory));
                                                strserialize = JsonConvert.SerializeObject(myList);
                                                csvstring = csvstring + item.Size + "_" + item.Drewwidth + ",";
                                            }
                                        }
                                    }
                                }
                            </tr>
                            iteration++;
                        }
                    }
                }
            </table>
            <div id="strserialize" hidden>@strserialize</div>
            <input type="hidden" id="hdnUnAvailableSize" value="@UnAvailableSizeCsv" />
            <input type="hidden" id="csvstring" value="@csvstring" />
        </div>
    </div>
    <div class="col-lg-1 hidden-xs"></div>
</div>

