﻿@using Znode.Engine.WebStore.ViewModels
@model SearchResultViewModel
@{
    /**/

    string categorycode = Model?.Custom1;
}
@if (categorycode != "shoefinder")
{
    <div class="list-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title panel-title-edit accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne_AddedList"><span>Filters</span></h4>
            </div>
            <div id="collapseOne_AddedList" class="panel-collapse collapse in">
                <div class="panel-body">
                    @{
                        /**/

                        if (Model.BrandId > 0)
                        { <a class="clear-filter" onclick="Search.prototype.RemoveFacet('Search?IsRemoveAll=true&brandId=@Model.BrandId')">@WebStore_Resources.TextClearAll</a>}

                    else
                    { <a class="clear-filter" onclick="Search.prototype.RemoveFacet('Search?IsRemoveAll=true&categoryId=@Model.CategoryId&SearchTerm=@Model.SearchTerm')">@WebStore_Resources.TextClearAll</a> }
                    }

                    <ul class="filter-list">
                        @foreach (var facetValue in Model.FacetFilters)
                        {
                            <label class="search">@HttpUtility.HtmlDecode(Model.Facets.Find(x => x.AttributeValues.Any(y => y.AttributeCode == facetValue.Item1))?.AttributeName)</label>
                            foreach (var facetValueItem in facetValue.Item2)
                            {
                                <li class="filter-item" onclick="Search.prototype.RemoveFacet('@facetValueItem.Value')">
                                    <label>@HttpUtility.HtmlDecode(facetValueItem.Key)</label><i class="zf-close"></i>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>

}
else if (categorycode == "shoefinder")
{


    <div class="col-sm-12 nopadding">
        <div class="col-sm-12 nopadding foot-filter">
            <label>Filters:</label>
            @foreach (var facetValue in Model.FacetFilters)
            {
            <div class="foot-filter-padding">
                <label>@HttpUtility.HtmlDecode(Model.Facets.Find(x => x.AttributeValues.Any(y => y.AttributeCode == facetValue.Item1))?.AttributeName) -</label>
                @foreach (var facetValueItem in facetValue.Item2)
                {
                <span class="filter-item" onclick="Search.prototype.RemoveFacet('@facetValueItem.Value')">
                    <span>@HttpUtility.HtmlDecode(facetValueItem.Key)</span>&nbsp;<i class="zf-close"></i>
                </span>
                }
            </div>
               
            }
                    <span>
                        @{
                            /**/

                            if (Model.BrandId > 0)
                            { <a class="clear-filter" onclick="Search.prototype.RemoveFacet('Search?IsRemoveAll=true&brandId=@Model.BrandId')">@WebStore_Resources.TextClearAll</a>}

                        else
                        { <a class="clear-filter" onclick="Search.prototype.RemoveFacet('Search?IsRemoveAll=true&categoryId=@Model.CategoryId&SearchTerm=@Model.SearchTerm')">@WebStore_Resources.TextClearAll</a> }
                        }
                    </span>
            </div>
        
    </div>


}

