﻿@using Znode.Engine.WebStore.ViewModels
@model TemplateViewModel

@{
    string inventoryRoundOff = DefaultSettingHelper.DefaultInventoryRoundOff;
    int inventoryRoundOffValue = string.IsNullOrEmpty(inventoryRoundOff) ? 0 : Convert.ToInt32(inventoryRoundOff);
    Layout = null;
}
<div class="col-xs-12 cart-products nopadding" id="layout-template-cartItem">
    @if (Model.TemplateCartItems?.Count > 0)
    {
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>@WebStore_Resources.LabelItem</th>
                    <th>@WebStore_Resources.ColumnTitleItemPrice</th>
                    <th>@WebStore_Resources.ColumnTitleQuantity</th>
                    <th>@WebStore_Resources.ColumnTitleTotal</th>
                </tr>
            </thead>
            <tbody>

                @foreach (TemplateCartItemViewModel cartItem in Model.TemplateCartItems.AsEnumerable().Reverse())
                {
                <tr>
                    <td class="remove-item">
                        @if (!Model.IsViewMode)
                        {
                        using (Html.BeginForm("RemoveTemplateCartItem", "User", new { guid = cartItem.ExternalId, omsTemplateId = cartItem.OmsTemplateId }, FormMethod.Post, new { id = "FormRemoveTemplateCartItem" }))
                        {
                        @Html.AntiForgeryToken()
                        <a href="#" class="template-cart-item-remove" onclick="javascript: $($(this).closest('form').submit());" title="Remove Item"><i class="zf-close"></i></a>
                        }
                        }
                    </td>
                    <td class="cart-item-details">
                        <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3 nopadding cart-image">
                            <a href="@Url.GetProductUrl(cartItem?.SEOUrl, cartItem?.ProductId.ToString())"><img src="@cartItem.ImagePath" class="img-responsive" alt=""></a>
                        </div>
                        <div class="col-xs-12 col-sm-7 col-md-8 col-lg-9 nopadding cart-description">
                            <a href="@Url.GetProductUrl(cartItem?.SEOUrl, cartItem?.ProductId.ToString())" class="cart-item-title">@Html.RenderBlock(cartItem.ProductName)</a>
                            <div class="cart-item-description">@Html.RenderBlock(cartItem.CartDescription)</div>
                            <div class="group-product-list">
                                @if (cartItem?.GroupProducts?.Count > 0)
                                {
                                foreach (var item in cartItem.GroupProducts)
                                {
                                <p><i class="zf-caret-right"></i> @item.ProductName</p>
                                }
                                }
                            </div>
                        </div>
                    </td>
                    <td class="cart-item-unitprice">

                        @if (cartItem?.GroupProducts?.Count > 0)
                        {
                        foreach (var item in cartItem.GroupProducts)
                        {
                        <div class="group-product-list">
                            @Helper.FormatPriceWithCurrency(item.UnitPrice, Model.CultureCode)
                        </div>
                        }
                        }
                        else
                        {
                        @Helper.FormatPriceWithCurrency(cartItem.UnitPrice, Model.CultureCode)
                        }
                    </td>
                    <td class="cart-item-quantity">
                        @if (!Model.IsViewMode)
                        {
                        @Html.Partial("_TemplateQuantity", cartItem)
                        }
                        else
                        {
                        if (cartItem?.GroupProducts?.Count > 0)
                        {
                        foreach (var item in cartItem.GroupProducts)
                        {
                        <div class="group-product-list">
                            @Html.TextBox("Quantity", @Math.Round(item.Quantity, inventoryRoundOffValue), new { @readonly = "readonly" })
                        </div>
                        }
                        }
                        else
                        {
                        @Html.TextBox("Quantity", cartItem.Quantity, new { @readonly = "readonly" })
                        }
                        }
                    </td>
                    <td class="cart-item-total">
                        @Helper.FormatPriceWithCurrency(cartItem.ExtendedPrice, Model.CultureCode)
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-sm-12 nopadding margin-top">
        @if (!Model.IsViewMode)
        {
        <div class="col-xs-12 col-sm-6 nopadding">
            @using (Html.BeginForm("RemoveAllTemplateCartItem", "User", new { omsTemplateId = Model.OmsTemplateId }, FormMethod.Post, new { id = "FormRemoveAllTemplateCartItem" }))
            {
            @Html.AntiForgeryToken()
            <a href="#" class="cart-item-remove-all" onclick="javascript: $('#FormRemoveAllTemplateCartItem').submit();"><i class="zf-close"></i> @WebStore_Resources.LabelRemoveAllLink</a>
            }
        </div>
        <button type="submit" id="checkOut-link" onclick="return User.prototype.ValidateCreateEditTemplate()" class="btn-text btn-bg-primary pull-right">Submit</button>
        }
    </div>
    }
</div>