﻿@using Microsoft.AspNet.Identity
@using Znode.Engine.WebStore.ViewModels
@{
    ViewBag.HideEmail = true;
    ViewBag.IsAddAddress = true;
    if (Model != null)
    {
        Model.AddressType = String.IsNullOrEmpty(Model.AddressType) ? WebStore_Resources.BillingAddressType : Model.AddressType;
    }
}
@model AddressViewModel
<div id="layout-account-editaddress" class="main-wrapper">

    <div class="container">
        <div class="row user-account">
            <div class="col-xs-12 account-dashboard nopadding">
                <div class="col-sm-3 col-lg-2 nopadding">
                    <div class="panel">
                        <div role="tab" id="DashboardOne">
                            <div class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    <h1 class="section-header">
                                        <text class="visible-xs hidden-lg hidden-md">Hello, @User.Identity.GetUserName()</text>
                                        <text class="hidden-xs">@WebStore_Resources.TitleMyAccount</text>
                                    </h1>
                                </a>
                            </div>
                        </div>
                        <div id="collapseOne" class="collapse mobile-collapse" role="tabpanel" aria-labelledby="DashboardOne">
                            <nav class="account-container-menu">
                                @Html.Partial("_AccountMenu")
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-9 col-lg-10 address-book edit-address right-container">
                    <form class="form" method="POST" action="" id="frmEditAddress_billing">
                        @Html.AntiForgeryToken()
                        @Html.Partial("_EditAddress", Model)
                        @if (Model != null && Model.AddressId > 0)
                        {
                            <div class="col-xs-12 margin-bottom nopadding">
                                <div class="pull-right">
                                    <button type="button" data-url="/User/DeleteCurrentAddress" id="deleteCurrentAddress" onclick="User.prototype.DeleteCurrentAddress()" class="btn-text btn-bg-secondary">@WebStore_Resources.LinkTextDeleteAddress</button>
                                    <input type="hidden" name="addressId" value="@Model.AddressId" />
                                    @if (Model.AccountAddressId > 0)
                                    {
                                        <input type="hidden" name="addressId" value="@Model.AccountAddressId" />
                                    }
                                </div>
                            </div>
                        }
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
@Html.Partial("_ModalPopUp", new ViewDataDictionary { { "modal-title", WebStore_Resources.LabelConfirmAddress } })
<script>
    $(document).ready(function () {
        $('#IsDefaultShipping').rules('remove');
        $('#IsDefaultBilling').rules('remove');
    })
</script>
