﻿@import "../_base.scss";

// Input Field
input[type="text"], input[type="password"], input[type="email"], input[type="number"] {
    @include input-field;
    height: 34px;
    border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    font-size:14px;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
}
textarea {
  @include input-field;
  resize: none;overflow-y: auto;border-radius:0px;
}

html input[disabled], html select[disabled], html textarea[disabled], html input[readonly], html select[readonly], html textarea[readonly]{cursor: not-allowed;background-color:#efefef;}
button[disabled]{cursor: not-allowed;opacity:0.3;}
.disable-anchor{color:#ddd;cursor:not-allowed;opacity:0.3;pointer-events:none;}
.disable-radio{color:#ddd;cursor:not-allowed;pointer-events:none;}

// Input Fields With Inner Icons
.left-inner-icon {position:relative; 
    input {padding-left:36px;}
}
.right-inner-icon {position:relative; 
    input {padding-right:36px;}
}