﻿@model AttributeGroupListViewModel
@using Znode.Engine.Admin.ViewModels;

@{
    string area = "MediaManager";
    string controller = ViewContext.RouteData.Values["controller"].ToString();
    string action = "AssignedAttributes";
}

<div class="collapsible-grid dirtyignore">
    <table class="table">
        <thead>
            <tr>
                <th>@Attributes_Resources.LabelFamilyGroupCode</th>
                <th>@Admin_Resources.LabelType</th>
                <th>@Admin_Resources.LabelRequired</th>
                <th>@Attributes_Resources.LabelAttributeLocalizable</th>
            </tr>
        </thead>
        <tbody>

            @{foreach (AttributeGroupViewModel item in Model.AttributeGroups)
                {
                    <tr>
                        <td colspan="6">
                            <table class="table child-table">
                                <thead>
                                    <tr class="header">
                                        <td class="td-header" colspan="7">
                                            <button type="button" class="btn-dropdown" onclick="javascript: var _CollapsibleGrid = new CollapsibleGrid(); _CollapsibleGrid.HideShowExpandOption(this,'@area','@controller','@action');" data-attributegroupid="@item.MediaAttributeGroupId"><i class="z-add"></i></button>
                                            @item.GroupCode
                                            @Html.AuthorizedRawActionLink("<i class='z-delete'></i>", "UnAssignAttributeGroups", "AttributeFamily", new { attributeGroupId = item.MediaAttributeGroupId }, new { @class = "pull-right" })
                                        </td>
                                    </tr>
                                </thead>
                                <tbody class="attributeData">

                                    @*Attribute Data will be rendered here*@

                                </tbody>
                            </table>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>