﻿@import "../_base.scss";

.product-list-widget{
    .product-item{margin:5px 10px 10px;position:relative;}
    .view-item{border:1px solid $base-color-border;padding:0px;
        &:hover{box-shadow:0 0 4px 0 rgba(0, 0, 0, 0.2);z-index:99;
            .item-error-msg{background:rgba(0,0,0,0.2);}
            .btn-quick-view{display:inline-table;}
        }
        .item-error-msg{background:rgba(0,0,0,0.3);position:absolute;width:83%;top:90px;left:21px;right:0;text-align:center;vertical-align:middle;display:inline-block;
                p{color:#fff;font-weight:600;position:relative;font-size:18px;text-shadow: 2px 4px 3px rgba(0,0,0,0.3);}
        }
    }
    .product-img{
        .image{height:215px;width:100%;overflow:hidden;display:flex;}
        img{margin:auto;width:100%;padding: 0px 15px 0px 15px;}
        .new-product-tag{position:absolute;top:5px;right:5px;z-index:99;width:40px;height:40px;}
        .btn-quick-view{position:absolute;top:222px;text-transform:uppercase;display:none;z-index:99;padding:0 10px;font-family:$base-font-family-bold;background-color: $base-color-white;width:99%;opacity:.9;min-height:50px;color:$base-color-primary;font-size:$base-font-size+2;
             &:focus{border-color: $base-color-white;outline:none;}
        }  
    } 
    .product-details{margin-top:0px;padding:0px 15px 15px 15px;
            h4{text-transform:uppercase;font-size:$base-font-size;color:$base-color-secondary;line-height:18px;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;}                     
            .price{margin:5px 0;color:$base-color-secondary;font-family:$base-font-family-bold;
                   label{font-size:$base-font-size;margin:0;}
            }
            .cut-price{font-size:$base-font-size;}
            a{font-size:$base-font-size - 2;text-decoration:none;color:$base-color-primary;font-family:$base-font-family-bold;}            
    }
    .owl-theme .owl-controls .owl-buttons div {padding: 5px 9px;}
    .owl-theme .owl-buttons i { margin-top: 2px;font-size: 20px;}
    .owl-theme .owl-controls .owl-buttons div {position: absolute;}
    .owl-theme .owl-controls .owl-buttons .owl-prev {left: -4px;top: 188px;}
    .owl-theme .owl-controls .owl-buttons .owl-next {right: 0px;top: 188px;}
    .owl-theme .owl-controls{top:-56px;
        .owl-buttons .owl-prev,.owl-buttons .owl-next{border-radius:0px;color:$base-color-primary;height:40px;width:40px;margin:0;line-height:35px;opacity:1;font-family:$znode-icon-font !important;box-shadow: 0px 1px 2px 1px #b9b9b9;background-color:$base-color-white;
                &:hover{background-color:$base-color-primary;color:$base-color-white}
        }
        .owl-buttons .owl-prev{margin-right:5px;}
    }
    .recent-view-items{float:left;width:100%;}
    .recommended-view-items{float:left;width:100%;}     // TODO - refactor to not just duplicate .recent-view-items class?
    
}
// Media Query
@include screensize(x-small) {
.product-list-widget .owl-theme .owl-controls{display:block !important;}
#layout-home .product-list-widget {padding:0 5px;}
.product-list-widget .owl-theme .owl-controls .owl-buttons .owl-prev, .product-list-widget .owl-theme .owl-controls .owl-buttons .owl-next {top: 125px;}
}

@include screensize(small) {
.product-list-widget .owl-theme .owl-controls{display:block !important;position:initial;}
.product-list-widget .product-img .image{height: 215px;}
#layout-home .product-list-widget {padding:0;}
}
@include screensize(desktop) {
.product-list-widget .owl-theme .owl-controls{display:none !important;}
.product-list-widget .product-img .image{height: 215px;}
}

@include screensize(x-large){  
    .product-list-widget .product-item{max-width:400px;}
    .product-list-widget .product-img .btn-quick-view{top:348px;}
    .product-list-widget .product-img .image{height:295px;padding:5px;}
    .product-list-widget .owl-theme .owl-controls .owl-buttons .owl-prev, .product-list-widget .owl-theme .owl-controls .owl-buttons .owl-next {top: 190px!important;}
}
