﻿@model Znode.Engine.Admin.ViewModels.PricePortalViewModel
@{
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}

@using (Ajax.BeginForm(actionName, controllerName, new AjaxOptions()
{
    HttpMethod = "post",
    OnSuccess = "Price.prototype.EditAssociatedStoresPrecedenceResult",
    UpdateTargetId = "storePrecedence",
    InsertionMode = InsertionMode.Replace,
},
                                                              new { @id = "editAssociatedStoresPrecedenceForm" }))
{
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="z-close-circle"></i></button>
                <h4 class="modal-title">@Admin_Resources.TextEditPrecedence</h4>
            </div>

            <div class="modal-body">
                <div class="col-sm-12 page-container">
                    <div id="createFormId" class="col-sm-12 nopadding">
                        <div class="form-group">
                            <div class="col-sm-12 nopadding">
                                <div class="control-label">
                                    @Html.LabelFor(m => m.StoreName)
                                </div>
                                <div class="control-lg">
                                    @Html.TextBoxFor(model => model.StoreName, new { @disabled = "disabled" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12 nopadding">
                                <div class="control-label">
                                    @Html.LabelFor(m => m.Precedence, new { @class = "required" })
                                </div>
                                <div class="control-lg" id="divMinQtyId">
                                    @Html.TextBoxFor(model => model.Precedence, new { @Onfocusout = "Price.prototype.ValidatePrecedence()" })
                                    @Html.ValidationMessageFor(model => model.Precedence, "", new { @id = "valPrecedence" })
                                    <span id="errorPrecedence" class="error-msg" style="display:normal"></span><br>
                                </div>
                            </div>
                        </div>

                        @Html.HiddenFor(m => m.PortalId)
                        @Html.HiddenFor(m => m.PriceListPortalId)
                        @Html.HiddenFor(m => m.StoreName)
                        @Html.HiddenFor(m => m.PriceListId)
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <div class="col-sm-12 nopadding">
                    <div class="pull-right margin-top-bottom">
                        <button type="submit" class="btn-text-icon" id="editStorePrecedence" onclick="return Price.prototype.ValidatePrecedence()"><i class="z-save"></i>@Admin_Resources.ButtonSave</button>
                        <button type="button" class="btn-text-icon" data-dismiss="modal"><i class="z-cancel"></i>@Admin_Resources.ButtonCancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
