﻿@using Znode.Engine.Admin.ViewModels
@using Znode.Engine.Admin.Helpers
@model StoreViewModel
@{
    ViewBag.Title = Admin_Resources.TitleStoreAndReps + " | " + Admin_Resources.Multifront;
}
<div class="row">
    <!--Left Panel-->
    @Html.Partial("~/views/store/_asidestoremanagepanel.cshtml")
    <!--Main Container-->

    <div id="ReplaceAsidePannelContentDiv">
        <section class="main-container">
            <div class="col-sm-12 page-container">
                <div class="col-sm-12 title-container">
                    <h1>@Admin_Resources.TitleStore<span class="separator"> | </span><span class="title-action">@Admin_Resources.LabelGeneralInfo</span></h1>
                    <div class="pull-right">
                        @Html.AuthorizedRawActionLink(Admin_Resources.ButtonBack, "List", "Store", null, new { @class = "btn-text", title = Admin_Resources.ButtonBack })
                        @Html.AuthorizedRawActionLink(Admin_Resources.ButtonEdit, "EditStore", "Store", new { @portalId = Model.PortalId }, new { @class = "btn-text", title = Admin_Resources.ButtonEdit })                        
                    </div>
                </div>
                <div class="col-sm-12 box-container">
                    <div class="form-group">
                        <div class="col-sm-12 nopadding">
                            <div class="control-label">
                                @Html.LabelFor(model => model.StoreName)
                            </div>
                            <div class="control-md">
                                <input type="text" value="@Model.StoreName" disabled="disabled" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 nopadding">
                            <div class="control-label">
                                @Html.LabelFor(model => model.CompanyName)
                            </div>
                            <div class="control-md">
                                <input type="text" value="@Model.CompanyName" disabled="disabled" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 nopadding">
                            <div class="control-label">
                                @Html.LabelFor(model => model.Theme)
                            </div>
                            <div class="control-md">
                                @Html.DropDownListFor(model => model.CMSThemeId, Model.ThemeList, Admin_Resources.LabelSelectTheme, new { @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 nopadding">
                            <div class="control-label">
                                @Html.LabelFor(model => model.IsEnableSSL)
                            </div>
                            <div class="control-md">
                                <i class="@HelperMethods.GetCheckMark(Model.IsEnableSSL) error-msg"></i>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 nopadding">
                            <div class="control-label">
                                @Html.LabelFor(model => model.AdministratorEmail)
                            </div>
                            <div class="control-md">
                                <input type="text" value="@Model.AdministratorEmail" disabled="disabled" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 nopadding">
                            <div class="control-label">
                                @Html.LabelFor(model => model.SalesEmail)
                            </div>
                            <div class="control-md">
                                <input type="text" value="@Model.SalesEmail" disabled="disabled" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 nopadding">
                            <div class="control-label">
                                @Html.LabelFor(model => model.CustomerServiceEmail)
                            </div>
                            <div class="control-md">
                                <input type="text" value="@Model.CustomerServiceEmail" disabled="disabled" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 nopadding">
                            <div class="control-label">
                                @Html.LabelFor(model => model.SalesPhoneNumber)
                            </div>
                            <div class="control-md">
                                <input type="text" value="@Model.SalesPhoneNumber" disabled="disabled" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 nopadding">
                            <div class="control-label">
                                @Html.LabelFor(model => model.CustomerServicePhoneNumber)
                            </div>
                            <div class="control-md">
                                <input type="text" value="@Model.CustomerServicePhoneNumber" disabled="disabled" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12 nopadding">
                            <div class="control-label">
                                @Html.LabelFor(model => model.OrderStatus)
                            </div>
                            <div class="control-md">
                                <input type="text" value="@Model.OrderStatus" disabled="disabled" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12 nopadding">
                            <div class="control-label">
                                @Html.LabelFor(model => model.ReviewStatus)
                            </div>
                            <div class="control-md">
                                <input type="text" value="@Model.ReviewStatus" disabled="disabled" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-md control-non">
                            @foreach (StoreFeatureViewModel storeFeature in Model.AvailableStoreFeatureList)
                            {
                                <div class="col-sm-12 nopadding">
                                    <i class="@HelperMethods.GetCheckMark(storeFeature.StoreFeatureValue) error-msg"></i>
                                    @Html.Label(Admin_Resources.ResourceManager.GetString(storeFeature.StoreFeatureName))
                                </div>
                            }
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12 nopadding">
                            <div class="control-label">
                                @Html.LabelFor(model => model.ProductReviewStatus)
                            </div>
                            <div class="control-md">
                                <input type="text" value="@Model.ProductReviewStatus" disabled="disabled" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>







